<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @match.name %>
</p>

<p>
  <b>Date:</b>
  <%= @match.date %>
</p>

<p>
  <b>Time:</b>
  <%= @match.time %>
</p>

<p>
  <b>Type:</b>
  <%= @match.type %>
</p>

<p>
  <b>Number of squads:</b>
  <%= @match.number_of_squads %>
</p>

<p>
  <b>Number of stages:</b>
  <%= @match.number_of_stages %>
</p>
<hr/>
Registered Shooters:
<ul>
  <% @match.shooters.each do |shooter| %>
    <li><%= shooter.name %></li>
  <% end %>
</ul>
<hr/>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
<%= form_tag({:action => "register"}) do %>
  Match: <%= hidden_field_tag :match_id, @match.id %>
  <%= @match.name %><br/>
  <%= select '', 'shooter_id', @shooters.map { |m| [m.name, m.id] } %><br />
  <%= submit_tag "Register shooter" %>
<% end %>
