<h1>Listing shooters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shooters.each do |shooter| %>
  <tr>
    <td><%= shooter.name %></td>
    <td><%= shooter.email %></td>
    <td><%= link_to 'Show', shooter %></td>
    <td><%= link_to 'Edit', edit_shooter_path(shooter) %></td>
    <td><%= link_to 'Destroy', shooter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shooter', new_shooter_path %>
